<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="bd2.Muber.repository b2.web" />
	<!-- Comienzo Configuration File -->
	<context:property-placeholder
		system-properties-mode="OVERRIDE"
		location="classpath:config_#{systemProperties['spring.profiles.active']}.properties" />
	<!-- Fin Configuration File -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingLocations" value="classpath:hibernate/*.hbm.xml" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.event.merge.entity_copy_observer">allow</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${spring.datasource.driverClass}" />
		<property name="jdbcUrl" value="${spring.datasource.jdbcUrl}" />
		<property name="user" value="${spring.datasource.user}" />
		<property name="password" value="${spring.datasource.password}" />
		<property name="acquireIncrement" value="2" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="1" />
		<property name="maxIdleTime" value="600" />
	</bean>

	<!-- Comienzo RepositoryLocator -->
	<bean id="RepositoryLocator" class="bd2.Muber.repository.RepositoryLocator"
		factory-method="getInstance">
		<property name="calificacionRepository">
			<ref bean="CalificacionRepository" />
		</property>
		<property name="conductorRepository">
			<ref bean="ConductorRepository" />
		</property>
		<property name="muberRepository">
			<ref bean="MuberRepository" />
		</property>
		<property name="pasajeroRepository">
			<ref bean="PasajeroRepository" />
		</property>
		<property name="viajeRepository">
			<ref bean="ViajeRepository" />
		</property>
	</bean>

	<!-- Fin RepositoryLocator -->

	<!-- Comienzo Repository -->
	<bean id="CalificacionRepositoryTarget" class="bd2.Muber.repository.CalificacionRepositoryImp">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="CalificacionRepository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="CalificacionRepositoryTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="ConductorRepositoryTarget" class="bd2.Muber.repository.ConductorRepositoryImp">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
	<bean id="ConductorRepository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="ConductorRepositoryTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="MuberRepositoryTarget" class="bd2.Muber.repository.MuberRepositoryImp">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
	<bean id="MuberRepository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="MuberRepositoryTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="PasajeroRepositoryTarget" class="bd2.Muber.repository.PasajeroRepositoryImp">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
	<bean id="PasajeroRepository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="PasajeroRepositoryTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<bean id="ViajeRepositoryTarget" class="bd2.Muber.repository.ViajeRepositoryImp">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
	<bean id="ViajeRepository"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="ViajeRepositoryTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<!-- Fin Repository -->

	<!-- Comienzo ServiceLocator -->
	<bean id="serviceLocator" class="bd2.Muber.serviceIMP.ServiceLocator"
		factory-method="getInstance">
		<property name="conductorService">
			<ref bean="conductorService" />
		</property>
		<property name="pasajeroService">
			<ref bean="pasajeroService" />
		</property>
		<property name="viajeService">
			<ref bean="viajeService" />
		</property>
	</bean>
	<!-- Fin ServiceLocator -->

	<!-- Comienzo Services -->
	<bean id="conductorServiceTarget" class="bd2.Muber.serviceIMP.ConductorServiceIMP">
	</bean>

	<bean id="conductorService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="conductorServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>

	<bean id="pasajeroServiceTarget" class="bd2.Muber.serviceIMP.PasajeroServiceIMP">
	</bean>

	<bean id="pasajeroService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="pasajeroServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>

	<bean id="viajeServiceTarget" class="bd2.Muber.serviceIMP.ViajeServiceIMP">
	</bean>

	<bean id="viajeService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="viajeServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>
	<!-- Fin Services -->

	<!-- Comienzo Manejador de Transacciones -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />
	<!-- Fin Manejador de Transacciones -->
</beans>